Repository ScrollPrize/villa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @giorgioangel, @stephenrparsons, @jrudolph, @younader, @skyward7187, @hendrikschilling, @SuperOptimizer

deterministic seed and jitter (#386)
  volume-cartographer/core/src/GrowSurface.cpp
Owners: @hendrikschilling, @SuperOptimizer

only overlay a single patch
  volume-cartographer/apps/src/vc_visualize.cpp
Owners: @hendrikschilling, @SuperOptimizer

add more label utilities, apply_affine for objs, etc
  vesuvius/src/vesuvius/scripts/alpha_wrap_labels.py
  vesuvius/src/vesuvius/scripts/apply_affine.py
  vesuvius/src/vesuvius/scripts/apply_masks.py
  vesuvius/src/vesuvius/scripts/binarize_tifs.py
  vesuvius/src/vesuvius/scripts/coherence_enhancing_diffusion.py
  vesuvius/src/vesuvius/scripts/move_nnunet_split.py
  vesuvius/src/vesuvius/scripts/remap_values.py
  vesuvius/src/vesuvius/scripts/voxelize_objs.py
  vesuvius/src/vesuvius/scripts/zarr_tasks.py
Owners: @stephenrparsons, @jrudolph

add target value for proofreader
  segmentation/vc_proofreader/main.py
Owners: @giorgioangel

add nnunet formatted intensity props handling
  vesuvius/src/vesuvius/data/vc_dataset.py
  vesuvius/src/vesuvius/data/volume.py
  vesuvius/src/vesuvius/models/datasets/intensity_properties.py
Owners: @stephenrparsons, @jrudolph

match augs w/ prev trainer
  vesuvius/src/vesuvius/models/datasets/base_dataset.py
Owners: @stephenrparsons, @jrudolph

nnunet style intensity props
  vesuvius/src/vesuvius/models/run/inference.py
Owners: @stephenrparsons, @jrudolph

skeleton branch pts eval
  vesuvius/src/vesuvius/models/evaluation/skeleton_branch_points.py
  vesuvius/src/vesuvius/models/training/train.py
Owners: @stephenrparsons, @jrudolph

script to create new zarr from likely good labels
  segmentation/vc_proofreader/extract_good_labels.py
Owners: @giorgioangel

properly initialize parent train method
  vesuvius/src/vesuvius/models/training/trainers/semi_supervised/train_uncertainty_aware_mean_teacher.py
Owners: @stephenrparsons, @jrudolph

save gif in subproc to avoid train interrupting segfault errors
  vesuvius/src/vesuvius/utils/plotting.py
Owners: @stephenrparsons, @jrudolph

bug fix
  volume-cartographer/apps/src/vc_visualize.cpp
Owners: @hendrikschilling, @SuperOptimizer

remove morph close, outdated commented out augs
  vesuvius/src/vesuvius/models/datasets/base_dataset.py
Owners: @stephenrparsons, @jrudolph

Support additional formats of layers (png+jpeg)
  ink-detection/optimized_inference/entrypoint.py
Owners: @younader

Support additional formats of layers for ink-detection (png+jpeg) (#389)
  ink-detection/optimized_inference/entrypoint.py
Owners: @younader

.github/CODEOWNERS:

* @giorgioangel

/crackle-viewer/ @stephenrparsons @jrudolph

/foundation/ @jrudolph @stephenrparsons

/ink-detection/ @younader

/scroll-renderer/ @giorgioangel

/scrollprize.org/ @stephenrparsons @skyward7187 @giorgioangel

/thaumato-anakalyptor/ @stephenrparsons

/vesuvius/ @stephenrparsons @jrudolph

/vesuvius-c/ @stephenrparsons @jrudolph

/volume-cartographer/ @hendrikschilling @SuperOptimizer
