Repository ScrollPrize/villa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nat, @giorgioangel, @danielhavir, @stephenrparsons, @younader, @skyward7187, @bruniss

.github/CODEOWNERS:

* @nat @giorgioangel

/crackle-viewer/ @giorgioangel

/foundation/ @giorgioangel @danielhavir @stephenrparsons

/ink-detection/ @younader

/scroll-renderer/ @giorgioangel

/scrollprize.org/ @nat @stephenrparsons @skyward7187 @bruniss

/thaumato-anakalyptor/ @giorgioangel

/vesuvius/ @stephenrparsons @giorgioangel

/vesuvius-c/ @stephenrparsons

Ignore all .venv* dirs
  .gitignore
Owners: @nat, @giorgioangel

Remove nnunet .egg-info and simplify .gitignore
  .gitignore
  segmentation/models/arch/nnunet/nnunetv2.egg-info/PKG-INFO
  segmentation/models/arch/nnunet/nnunetv2.egg-info/SOURCES.txt
  segmentation/models/arch/nnunet/nnunetv2.egg-info/dependency_links.txt
  segmentation/models/arch/nnunet/nnunetv2.egg-info/entry_points.txt
  segmentation/models/arch/nnunet/nnunetv2.egg-info/requires.txt
  segmentation/models/arch/nnunet/nnunetv2.egg-info/top_level.txt
Owners: @nat, @giorgioangel

Add segmentation build/ subdirs to .gitignore
  .gitignore
Owners: @nat, @giorgioangel

Remove YAML config from case generation
  foundation/scrollcase/scripts/stl-generator.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Remove unused YAML import
  foundation/scrollcase/scripts/stl-generator.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Remove unused partial import
  foundation/scrollcase/scripts/stl-generator.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Reorder imports
  foundation/scrollcase/scripts/stl-generator.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Remove unused scroll case size display script
  foundation/scrollcase/scripts/02-05_scroll-sizes.ipynb
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Rename scripts to use underscores
  foundation/scrollcase/scripts/arrange_stls_in_grid.py
  foundation/scrollcase/scripts/stl_generator.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Rename ScrollCase -> ScrollCaseConfig
  foundation/scrollcase/scripts/15cm_riser_BM18_small_tomo_stage.py
  foundation/scrollcase/scripts/centering_disc.py
  foundation/scrollcase/scripts/interface_plate_BM18_small_tomo_stage.py
  foundation/scrollcase/scripts/stl_generator.py
  foundation/scrollcase/src/scrollcase/case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Rename divider_utils -> curved_divider_wall
  foundation/scrollcase/src/scrollcase/case.py
  foundation/scrollcase/src/scrollcase/curved_divider_wall.py
  foundation/scrollcase/src/scrollcase/mesh.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Generalize bolt dimensions
  foundation/scrollcase/scripts/15cm_riser_BM18_small_tomo_stage.py
  foundation/scrollcase/scripts/interface_plate_BM18_small_tomo_stage.py
  foundation/scrollcase/src/scrollcase/case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Remove unused imports in case.py
  foundation/scrollcase/src/scrollcase/case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Add ESRF ID11 base/interface plate
  foundation/scrollcase/scripts/ESRF_ID11_case.py
  foundation/scrollcase/src/scrollcase/case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

split setup in 2, one that needs sudo and one that doesnt
  gp3d/README.md
  gp3d/readme.txt
  gp3d/requirements.txt
  gp3d/setup_sudo.sh
  gp3d/setup_user.sh
Owners: @nat, @giorgioangel

readme updates and accept webknossos links on the commandline
  gp3d/README.md
  gp3d/setup_user.sh
  gp3d/wk.py
Owners: @nat, @giorgioangel

Fix some type warnings
  foundation/scrollcase/scripts/ESRF_ID11_case.py
  foundation/scrollcase/src/scrollcase/case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Fix some more type warnings
  foundation/scrollcase/src/scrollcase/alignment.py
  foundation/scrollcase/src/scrollcase/curved_divider_wall.py
  foundation/scrollcase/src/scrollcase/smallest_circle.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

more readme and setup scripts work and make infer take the paths on the commandline
  gp3d/README.md
  gp3d/infer.py
  gp3d/requirements.txt
  gp3d/setup_sudo.sh
Owners: @nat, @giorgioangel

make the infer arguments explicit
  gp3d/infer.py
Owners: @nat, @giorgioangel

readme inference stuff update
  gp3d/README.md
Owners: @nat, @giorgioangel

readme fix
  gp3d/README.md
Owners: @nat, @giorgioangel

Fix type checks
  foundation/scrollcase/src/scrollcase/case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Update ScrollCaseConfig name in ipynb example
  foundation/scrollcase/scripts/example_basic_case.ipynb
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Fix some more type checks and prep for curved wall in ID11 case
  foundation/scrollcase/scripts/ESRF_ID11_case.py
  foundation/scrollcase/src/scrollcase/case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Generalize curved divider wall
  foundation/scrollcase/src/scrollcase/case.py
  foundation/scrollcase/src/scrollcase/curved_divider_wall.py
  foundation/scrollcase/src/scrollcase/mesh.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Add curved divider wall to ID11 case
  foundation/scrollcase/scripts/ESRF_ID11_case.py
  foundation/scrollcase/src/scrollcase/__init__.py
  foundation/scrollcase/src/scrollcase/case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Add mesh to ID11 case
  foundation/scrollcase/scripts/ESRF_ID11_case.py
  foundation/scrollcase/src/scrollcase/mesh.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Add wandb logging in vesuvius.models trainer
  vesuvius/models/configuration/config_manager.py
  vesuvius/models/run/train.py
Owners: @stephenrparsons, @giorgioangel

Write ID11 case to file
  foundation/scrollcase/scripts/ESRF_ID11_case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

Add M4 bolt holes to attach case halves together
  foundation/scrollcase/scripts/ESRF_ID11_case.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons

ID11 case design (#283)
  foundation/scrollcase/scripts/02-05_scroll-sizes.ipynb
  foundation/scrollcase/scripts/15cm_riser_BM18_small_tomo_stage.py
  foundation/scrollcase/scripts/ESRF_ID11_case.py
  foundation/scrollcase/scripts/arrange_stls_in_grid.py
  foundation/scrollcase/scripts/centering_disc.py
  foundation/scrollcase/scripts/example_basic_case.ipynb
  foundation/scrollcase/scripts/interface_plate_BM18_small_tomo_stage.py
  foundation/scrollcase/scripts/stl_generator.py
  foundation/scrollcase/src/scrollcase/__init__.py
  foundation/scrollcase/src/scrollcase/alignment.py
  foundation/scrollcase/src/scrollcase/case.py
  foundation/scrollcase/src/scrollcase/curved_divider_wall.py
  foundation/scrollcase/src/scrollcase/divider_utils.py
  foundation/scrollcase/src/scrollcase/mesh.py
  foundation/scrollcase/src/scrollcase/smallest_circle.py
Owners: @giorgioangel, @danielhavir, @stephenrparsons
