Repository ScrollPrize/villa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @giorgioangel, @jrudolph, @younader, @skyward7187, @hendrikschilling, @SuperOptimizer

.github/CODEOWNERS:

* @giorgioangel

/crackle-viewer/ @jrudolph

/foundation/ @jrudolph

/ink-detection/ @younader

/scroll-renderer/ @giorgioangel

/scrollprize.org/ @skyward7187 @giorgioangel

/vesuvius/ @jrudolph

/vesuvius-c/ @jrudolph

/volume-cartographer/ @hendrikschilling @SuperOptimizer

better contained
  volume-cartographer/core/src/GrowPatch.cpp
Owners: @hendrikschilling, @SuperOptimizer

small improvement
  volume-cartographer/core/src/GrowPatch.cpp
Owners: @hendrikschilling, @SuperOptimizer

move docs / allow multichannel patch finding / resize zarr script
  vesuvius/README.md
  vesuvius/docs/accessing_data.md
  vesuvius/docs/data_formatting.md
  vesuvius/docs/datasets_adapters_slicers.md
  vesuvius/docs/images/adaptive_channel_flow.png
  vesuvius/docs/images/architecture_decision_flow.png
  vesuvius/docs/images/dataset_flow_diagram.png
  vesuvius/docs/images/napari_trainer.png
  vesuvius/docs/images/proofreader.png
  vesuvius/docs/images/training_flow_diagram.png
  vesuvius/docs/images/training_loop_diagram.png
  vesuvius/docs/inference.md
  vesuvius/docs/patch_finding.md
  vesuvius/docs/training_flow.md
  vesuvius/src/vesuvius/models/configuration/single_task/surface_frame.yaml
  vesuvius/src/vesuvius/models/datasets/base_dataset.py
  vesuvius/src/vesuvius/models/datasets/find_valid_patches.py
  vesuvius/src/vesuvius/models/datasets/slicers/chunk.py
  vesuvius/src/vesuvius/scripts/resize_zarr_spatial.py
Owners: @jrudolph

Update .gitignore
  .gitignore
Owners: @giorgioangel

Move docs channel rework (#442)
  .gitignore
  vesuvius/README.md
  vesuvius/docs/accessing_data.md
  vesuvius/docs/data_formatting.md
  vesuvius/docs/datasets_adapters_slicers.md
  vesuvius/docs/images/adaptive_channel_flow.png
  vesuvius/docs/images/architecture_decision_flow.png
  vesuvius/docs/images/dataset_flow_diagram.png
  vesuvius/docs/images/napari_trainer.png
  vesuvius/docs/images/proofreader.png
  vesuvius/docs/images/training_flow_diagram.png
  vesuvius/docs/images/training_loop_diagram.png
  vesuvius/docs/inference.md
  vesuvius/docs/patch_finding.md
  vesuvius/docs/training_flow.md
  vesuvius/src/vesuvius/models/configuration/single_task/surface_frame.yaml
  vesuvius/src/vesuvius/models/datasets/base_dataset.py
  vesuvius/src/vesuvius/models/datasets/find_valid_patches.py
  vesuvius/src/vesuvius/models/datasets/slicers/chunk.py
  vesuvius/src/vesuvius/scripts/resize_zarr_spatial.py
Owners: @giorgioangel, @jrudolph

fix invert affine (#443)
  volume-cartographer/apps/src/vc_render_tifxyz.cpp
Owners: @hendrikschilling, @SuperOptimizer

prep more generic weight handling
  volume-cartographer/core/src/GrowPatch.cpp
Owners: @hendrikschilling, @SuperOptimizer

more cleanup
  volume-cartographer/core/src/GrowPatch.cpp
Owners: @hendrikschilling, @SuperOptimizer

affine list
  volume-cartographer/apps/src/vc_render_tifxyz.cpp
Owners: @hendrikschilling, @SuperOptimizer
