Repository ScrollPrize/villa, changes with the owners that .github/CODEOWNERS names for each.
All owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons, @younader, @nat, @hariseldon137, @ubc-nvining

update _mask.png search logic
  foundation/scroll2zarr/scroll_to_ome.py
Owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons

Add submodule 'vesuvius_basic_compression' at specific commit
  .gitmodules
Owners: none

first try to find standard mask, otherwise switch to backup
  foundation/scroll2zarr/scroll_to_ome.py
Owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons

glob.glob patter search
  foundation/scroll2zarr/scroll_to_ome.py
Owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons

mask loading with uint8 and float
  foundation/scroll2zarr/scroll_to_ome.py
Owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons

mask loading with uint8 and float
  foundation/scroll2zarr/scroll_to_ome.py
Owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons

debug jpg dtype
  foundation/scroll2zarr/scroll_to_ome.py
Owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons

adjust loaded tiff/jpg dtype to uint16
  foundation/scroll2zarr/scroll_to_ome.py
Owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons

Added segment_to_ome.py utility for processing segments into .zarr format
  foundation/scroll2zarr/README.md
  foundation/scroll2zarr/segment_to_ome.py
Owners: @schillij95, @giorgioangel, @danielhavir, @stephenrparsons

Add check for .zarr segment file to bypass TIFF loading and stacking
  ink-detection/train_timesformer_og.py
Owners: @younader, @schillij95

using geometric mean to calculate umbilicus distance
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
Owners: @schillij95, @giorgioangel

switch patch centroid to geometric mean
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
Owners: @schillij95, @giorgioangel

adding back thaumato submodules
  .gitmodules
Owners: none

adding back thaumato submodules
  .gitmodules
Owners: none

adding geometric mean numba installation
  thaumato-anakalyptor/DockerfileThaumato
Owners: @schillij95, @giorgioangel

updating gt generation scripts
  thaumato-anakalyptor/ThaumatoAnakalyptor/mesh_to_mask3d_labels.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/split_mesh.py
Owners: @schillij95, @giorgioangel

fix cenroid method variable
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
Owners: @schillij95, @giorgioangel

fix cenroid method variable
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
Owners: @schillij95, @giorgioangel

fix cenroid method variable
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
Owners: @schillij95, @giorgioangel

updated add node function
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
Owners: @schillij95, @giorgioangel

thaumato - compute centroid (or equivalent) only once
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
Owners: @schillij95, @giorgioangel

centroid computation optimization
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
Owners: @schillij95, @giorgioangel

added llfio chunkloader
  llfio-chunkloader/CMakeLists.txt
  llfio-chunkloader/bench.cpp
  llfio-chunkloader/include/chunkloader/chunk_loader.h
  llfio-chunkloader/include/chunkloader/fast_chunk_loader.h
  llfio-chunkloader/include/test/data-generator/continuous_data_generator.h
  llfio-chunkloader/include/test/data.h
  llfio-chunkloader/include/util/chunked_volume_information.h
  llfio-chunkloader/include/util/volume_information.h
  llfio-chunkloader/linux-install-dep.sh
  llfio-chunkloader/src/chunkloader/fast_chunk_loader.cpp
  llfio-chunkloader/src/test/data-generator/continuous_data_generator.cpp
  llfio-chunkloader/src/util/chunked_volume_information.cpp
  llfio-chunkloader/src/util/volume_information.cpp
Owners: none

Update inference_timesformer.py
  ink-detection/inference_timesformer.py
Owners: @younader, @schillij95

Update inference_timesformer.py
  ink-detection/inference_timesformer.py
Owners: @younader, @schillij95

[thaumato] Fix bug
  thaumato-anakalyptor/DockerfileThaumato
Owners: @schillij95, @giorgioangel

[thaumato] Fix python version in Readme
  thaumato-anakalyptor/README.md
Owners: @schillij95, @giorgioangel

update Docker deps
  thaumato-anakalyptor/DockerfileThaumato
  thaumato-anakalyptor/ThaumatoAnakalyptor/mesh_quality.py
  thaumato-anakalyptor/environment_thaumato.yml
Owners: @schillij95, @giorgioangel

fix safe function
  thaumato-anakalyptor/ThaumatoAnakalyptor/mesh_quality.py
Owners: @schillij95, @giorgioangel

cmake with proper python version
  thaumato-anakalyptor/ThaumatoAnakalyptor/sheet_generation/CMakeLists.txt
Owners: @schillij95, @giorgioangel

zarr fix uint16 -> uint8 in grid to pointcloud
  thaumato-anakalyptor/ThaumatoAnakalyptor/grid_to_pointcloud.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/mesh_merger.py
Owners: @schillij95, @giorgioangel

updated gitignore
  thaumato-anakalyptor/.gitignore
Owners: @schillij95, @giorgioangel

h5 pointcloud instances, inference dataloader improvements, configurable patch overlap, inference subvolume rotation
  thaumato-anakalyptor/.gitignore
  thaumato-anakalyptor/DockerfileThaumato
  thaumato-anakalyptor/GUI/MainWindow.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/debug/debug_instances.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/graph_problem/CMakeLists.txt
  thaumato-anakalyptor/ThaumatoAnakalyptor/graph_solve.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/grid_to_pointcloud.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_graph.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/instances_to_sheets.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/mask3d/trainer/trainer.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/pointcloud_to_instances.py
Owners: @schillij95, @giorgioangel

working on graph labeling tool
  thaumato-anakalyptor/ThaumatoAnakalyptor/graph_labeling.py
  thaumato-anakalyptor/ThaumatoAnakalyptor/graph_solve.py
Owners: @schillij95, @giorgioangel

add .gitignores
  thaumato-anakalyptor/libigl-python-bindings/.gitignore
  thaumato-anakalyptor/libigl-python-bindings/include/libigl/.gitignore
Owners: @schillij95, @giorgioangel

add .gitignores
  thaumato-anakalyptor/libigl-python-bindings/.gitignore
Owners: @schillij95, @giorgioangel

add .gitignores
  thaumato-anakalyptor/libigl-python-bindings/.gitignore
Owners: @schillij95, @giorgioangel

add .gitignores
  thaumato-anakalyptor/libigl-python-bindings/.gitignore
  thaumato-anakalyptor/libigl-python-bindings/include/libigl/.gitignore
Owners: @schillij95, @giorgioangel

add .gitignores
  thaumato-anakalyptor/libigl-python-bindings/.gitignore
  thaumato-anakalyptor/libigl-python-bindings/include/libigl/.gitignore
Owners: @schillij95, @giorgioangel

add .gitignores
  thaumato-anakalyptor/libigl-python-bindings/.gitignore
Owners: @schillij95, @giorgioangel

.github/CODEOWNERS:

/crackle-viewer/ @schillij95

/foundation/ @schillij95 @giorgioangel @danielhavir @stephenrparsons

/ink-detection/ @younader @schillij95

/scroll-renderer/ @giorgioangel

/scrollprize.org/ @nat @stephenrparsons

/thaumato-anakalyptor/ @schillij95 @giorgioangel

/vesuvius/ @stephenrparsons @giorgioangel

/vesuvius-c/ @stephenrparsons @hariseldon137 @ubc-nvining
